@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  color: #fff;

  background: url(./img/background.png) no-repeat center / cover;
}

::selection { 
  background-color: #333; 
  color: #fff; 
}

img {
  user-select: none;
}

.wrapper {
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.header_container img {
  height: 40px;
}

main {
  min-height: 100vh;
  padding-top: 80px; 
  padding-bottom: 80px; 

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero {
  font-size: 56px;
  line-height: 1.2;
  opacity: 0.6;
}

.hero span {
  font-size: 36px;
  display: block;
  margin-top: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
}

.footer_container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_container p {
  font-size: 14px;
  opacity: 0.7;
}

.footer-socials {
  display: flex;
  gap: 10px;
}

.footer-socials img {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  transition: transform 0.3s ease;
}

.footer-socials img:hover {
  opacity: 1;
  transform: scale(1.05);
}






.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
