.about-container    {
    display: flex;
    justify-content: center;
}

.about-text {
    padding: 50px 0;
    max-width: 400px;
    text-align: justify;
    font-size: 18px;
}

.privacy-btn      {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    text-decoration: underline;
}