footer {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    bottom: 0;
}

.footer_container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;
    font-size: 16px;
}

.footer-left {
    font-weight: 300;
    white-space: nowrap;
    user-select: none;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-address {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 300;
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-socials img {
    object-fit: contain;
    filter: brightness(0) invert(1);
    transition: transform 300ms ease;
}

.footer-socials img:hover {
    transform: scale(1.15);
}

@media (max-width: 768px) {
    .footer_container {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        padding: 10px 15px;
        height: auto;
    }

    .footer-right {
        flex-direction: column;
        gap: 8px;
    }

    .footer-socials img {
        width: 20px;
        height: 20px;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .footer-left {
        font-size: 12px;
    }

    .footer-address span {
        font-size: 12px;
    }

    .footer-socials img {
        width: 18px;
        height: 18px;
    }
}
