
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("../img/exfrag\ hero\ img.png");
    background-repeat: no-repeat;
}

.hero-wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 5;
}

.hero-title {
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    line-height: 1.1;
}

.hero-subtitle {
    font-size: 18px;
    margin-top: 20px;
    color: #888;
    font-weight: 600;
}

.hero-btns  {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hero-btn, .hero-about-btn   {
    display: flex;
    justify-content: center;
    background-color: #000;
    width: 150px !important;
    height: 40px !important;
    border: 1px solid #fff;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px !important;
    font-weight: 400;
    font-family: "BBH Bogle", sans-serif;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hero-btn:hover , .hero-about-btn:hover {
    transform: scale(1.1);
}

.hero-glow {
    position: absolute;
    width: 650px;
    height: 650px;
    filter: blur(140px);
    z-index: 1;
}

.glow-left {
    background: #000000;
    top: -200px;
    left: -250px;
}

.glow-right {
    background: #000000;
    top: -80px;
    right: -250px;
}

.hero-stripe {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%) rotate(-5deg);
    background: #333;
    padding: 28px 0;

    width: 100vw;
    overflow: hidden;
    z-index: 3;
}

.hero-stripe::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100%;
    background: #111;
    z-index: -1;
}

.stripe-inner {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.stripe-inner span {
    color: #fff;
    font-size: 34px;
    font-weight: 800;
    white-space: nowrap;
    letter-spacing: 2px;
}

@media (max-width: 768px) {

    .hero-title {
        font-size: 40px;
    }

    .hero-subtitle {
        font-size: 18px;
    }

    .hero-btn {
        width: 200px;
        height: 55px;
        font-size: 20px;
    }

    .hero-glow {
        width: 350px;
        height: 350px;
        filter: blur(100px);
    }

    .glow-left {
        top: -120px;
        left: -150px;
    }

    .glow-right {
        top: -60px;
        right: -150px;
    }

    .hero-stripe {
        bottom: 10px;
        padding: 20px 0;

        
        width: 100vw;

        transform: translateX(-50%) rotate(-4deg);
    }

    .stripe-inner span {
        font-size: 22px;
    }
}
