.categories div {
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.5s ease;
  user-select: none;
}

.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}

.products-block {
  padding: 130px 0;
  background: #000 ;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(10, 10, 10) 100%);
}

.product_container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.products-block .item {
  width: 400px;
  background-color: #000;
  border-radius: 20px;
}

.products-block .item .item_img img {
  width: 100%;
}

.products-block h2,
.products-block p,
.products-block b {
  margin: 10px 20px;
  color: #fff;
}

.products-block b {
  color: #fff;
  font-weight: 500;
}

.cart-size {
  margin: 5px 0;
  font-size: 14px;
  color: #fff;
}

.cart-size b {
  color: #fff;
}

.view-product-btn {
  margin: 10px 20px;
  padding: 14px 25px;
  border-radius: 100px;
  background: linear-gradient(180deg, #afafaf 0%, #ffffff 100%);
  color: #353535;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  transition: .25s ease;
  box-shadow: 0 4px 12px rgba(172, 172, 172, 0.35);
  user-select: none;
}

.view-product-btn:hover {
  transform: translateY(-2px);
}

.view-product-btn:active {
  transform: scale(0.97);
  filter: brightness(1.15);
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
}

.cart-item img {
  width: 60px;
  border-radius: 10px;
}

.cart-info {
  flex: 1;
}

.cart-total {

  padding: 10px;
  font-size: 18px;
  border-top: 1px solid #ddd;

  position: fixed;
  bottom: 0;

  background-color: #111;
  width: 100%;
}

.products-block .item {
  width: calc(33.333% - 20px);
}

@media (max-width: 1024px) {
  .product_container {
    justify-content: center;
  }
  .products-block .item {
    width: calc(50% - 15px);
  }
}

@media (max-width: 600px) {
  .products-block .item {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .products-block .item {
    width: 100%;
  }
}
