* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

#root{
  width: 100%;
  height: 100%;
}

html  {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body  {
  background-color: #000 !important;
  color: #fff !important;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 300;

  overflow-x: hidden;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
}

.wrapper  {
  width: 100%;
  min-height: 100vh; 
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

}

.main {
  flex: 1 1 auto;

  padding-top: 70px;
}

.container  {
  max-width: 1280px;
  width: 100%;

  margin: 0 auto;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #000000;
}

html::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 10px;
}

img {
  user-select: none;
}

button {
  user-select: none;
}

a {
  user-select: none;
}



::selection {
    background-color: #fff;
    color: #000;
}