/*@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');*/

@import "./css/reset.css";
@import "./css/header.css";
@import "./css/hero.css";
@import "./css/adaptation.css";
@import "./css/main.css";
@import "./css/footer.css";
@import "./css/fullItem.css";
@import "./css/contact.css";
@import "./css/about.css";
@import "./css/checkout.css";






